<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.ActivePage}} - MediSynth</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>
<body class="h-full flex flex-col">
    <header class="bg-white shadow-sm">
        <nav class="container mx-auto px-4 lg:px-6 py-3.5">
            <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                <a href="/" class="flex items-center">
                    <img src="/static/favicon.ico" class="mr-3 h-6 sm:h-9" alt="MediSynth Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap">MediSynth</span>
                </a>
                <div class="flex items-center lg:order-2">
                    {{if .User}}
                        <a href="/logout" class="text-gray-800 hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none">Logout</a>
                    {{else}}
                        <a href="/login" class="text-gray-800 hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none">Log in</a>
                        <a href="/register" class="text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none">Get started</a>
                    {{end}}
                </div>
                <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                    <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                        {{if .User}}
                            <li><a href="/dashboard" class="block py-2 pr-4 pl-3 rounded lg:bg-transparent {{if eq .ActivePage "Dashboard"}}text-indigo-700{{else}}text-gray-700{{end}} lg:p-0">Dashboard</a></li>
                            <li><a href="/tokens" class="block py-2 pr-4 pl-3 rounded lg:bg-transparent {{if eq .ActivePage "API Tokens"}}text-indigo-700{{else}}text-gray-700{{end}} lg:p-0">API Tokens</a></li>
                        {{else}}
                             <li><a href="/" class="block py-2 pr-4 pl-3 rounded lg:bg-transparent {{if eq .ActivePage "Home"}}text-indigo-700{{else}}text-gray-700{{end}} lg:p-0" aria-current="page">Home</a></li>
                        {{end}}
                        <li><a href="/documentation" class="block py-2 pr-4 pl-3 rounded lg:bg-transparent {{if eq .ActivePage "Documentation"}}text-indigo-700{{else}}text-gray-700{{end}} lg:p-0">Documentation</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-grow">
        {{block "content" .}}{{end}}
    </main>

    <footer class="mt-auto py-3 bg-gray-100">
        <div class="container mx-auto">
            <p class="text-center text-gray-500 text-sm">&copy; 2025 MediSynth. All rights reserved.</p>
        </div>
    </footer>
</body>
</html> 